@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --bg-header: #072146;
  --text-color-header: #fff;
  --color-border-list: #1264A5;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: var(--bg-header);
  color: var(--text-color-header);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bbva-web-form-search {
      width: calc(100% - 163px);
    }
    bbva-web-button-default {
      background-color: #006C6C;
    }
  }

  @media only screen and (max-width: 320px) {
    .toolbar {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      bbva-web-button-default {
        width: 100%;
        max-width: 100%;
      }
      bbva-web-form-search {
        width: 100%;
      }
    }
  }

  .task-list-body {
    padding: 15px;
    article {
      padding: 10px;
      border: 1px solid #e1e1e1;
      background-color: #F4F4F4;
      border-left: 3px solid var(--color-border-list);
      h2 {
        font-size: 0.85em;
        margin: 0;
        margin-bottom: 5px;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.75em;
        span {
          font-style: italic;
        }
      }
    }
    .col-section {
      margin-bottom: 15px;
    }
    .data-empty {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
  }
}

bbva-web-template-modal {
  bbva-web-form-text, bbva-web-form-date {
    text-align: left;
    margin-bottom: 10px;
    min-width: 290px;
  }
}

@media only screen and (max-width: 320px) {
  .modal {
    width: 100%;
  }
}




